@import "../../vars.css";

.container {
    margin-top: 76px;
    color: var(--color-white);
    margin-left: 20%;
    margin-right: 20%;
}

.title {
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 2.75px;
    text-transform: uppercase;
}

.proyects{
    margin-top: 37px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 55px;
    width: 100%;
}